
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-family: arial, sans-serif;
    font-size: 14px; 
    margin: 0;
    padding: 0;
}

.content-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav {
    height: 40px;
    padding: 6px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    
}

.about-store {
    float: left;
    padding: 5px;
}

.toprightnav {
    padding: 5px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: end;
}

a {
   padding: 6px;
   text-decoration: none; 
   color: black;  
}

a:hover {
    text-decoration: underline;
}

svg {
    height: 30px;
    width: 30px;
    align-items: center;
    display: flex;
    padding: 5px 0px 0px 5px;
}

#karl-pic {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    padding: 5px;
}

#google-logo {
    display : flex;
    align-items: center;
    margin: 0 auto;
    padding: 100px;
    flex-shrink: 0;
  
}

.input {
    display: flex;
    justify-content: center;
}

input {
    max-width: 550px;
    width: 500px;
    border-radius: 25px;
    height: 25px;
}

.button-div {
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    padding: 15px 0px;
    flex-shrink: 0;
   
}

.whitespace {
    flex-grow: 1;
    padding: 15px 0px;
    flex-shrink: 0;
    
}

footer {
    height: 50px;
    bottom: 0px;
    background-color: rgb(233, 233, 233);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    flex-shrink: 0;
    
}